*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.grid{
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "footer footer";
    grid-template-columns: 100%;
    grid-template-rows: 10% 9% 60% 20%;
    height: 100vh;
}
.contenedorLogo{
    grid-area: header;
    padding: 8px;
}
.logo{
    text-align: center;
    color: black;
}
.sub{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
/*navbar*/
nav{
    grid-area: nav;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f3eb;
    height: 100%;
}
nav ul{
    list-style: none;
    background-color: rgb(129, 128, 103);
}
nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
a:hover{
    border-bottom: 2px solid #c2a661;;
}

/*subMenu*/
.subMenu{
    position: absolute;
    background-color: #f6f3eb;
    display: none;
    width: 9%;
}
.subMenu li a{
    display: block;
    padding: 10px;
    color: rgb(54, 54, 54);
    font-size: 12px;
    text-decoration: none;
}
.navBar li:hover .subMenu{
    display: block;
    padding: 5px;
}

/*main*/
main{
    grid-area: main;
    width: 85%;
    justify-self: center;
}

.mainWrap{
    display: grid;
    height: 100%;
    grid-template-columns: 25% 70%;

}
.tituloMain1{
    align-self: center;
}
.tituloMain2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.subrayado{
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: #c2a661;
}
.descripcionWrap{
    margin-top: 1%;
}
.mainImage{
    margin-left: 12%;
    width: 590px;
    height: 330px;
}
.descripcionWrap{
    align-self: flex-end;
}
.descripcionTexto{
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 13px;
}

/*footer*/
.footerHome{
    display: flex;
    justify-content: center;
    grid-area: footer;
}
.redesIconos{
    display: flex;
    padding: 25px;
    margin-top: 8px;
    justify-content: center;
    justify-content: space-around;
}
.redesIconos a{
    background: #181815;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
    transition: 0.5s all;
}
.redesIconos a:hover{
    transform: scale(1.2);
}
.copyright{
    text-align: center;
    margin: 5px;
}


/*productos*/
.gridProductos{
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main" 
                        "footer footer";
    grid-template-columns: 100%;
    grid-template-rows: 10% 9% 101% 10%;
    height: 100vh;
}

/*mainProductos*/
.mainProductos{
    display: grid;
    grid-area: main;
    margin: 20px;
}
.tituloColeccion{
    text-align: center;
    font-family: roboto;
    padding-bottom: 15px;
}
.productosGrid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.productosGrid .caja img{
    width: 600px;
    height: 430px;
}

/*footerProductos*/
.footerProductos{
    grid-area: footer;
    margin-top: 50%;
}
.redesIconosProductos{
    display: flex;
    padding: 25px;
    margin-top: 5px;
    justify-content: center;
    justify-content: space-around;
}
.redesIconosProductos a{
    background: #181815;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
    transition: 0.5s all;
}



/*media queries*/
@media screen and (min-width: 320px) and (max-width: 768px){
    .grid{
        display: grid;
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 9% 38% 75% 41%;
        height: 100vh;
    }
    .contenedorLogo{
        grid-area: header;
        padding: 8px;
        width: 100%;
    }
    .logo{
        text-align: center;
        color: black;
        font-size: 25px;
    }
    .sub{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
        text-align: center;
    }
    
    .navBar{
        display: grid;
        align-items: center;
        background-color: #f6f3eb;
        margin-top: 10px;
        width: 100%;
    }

    main{
        grid-area: main;
        width: 100%;
        justify-content:center ;
        margin-top: 25px;
    }
    /*subMenu*/
    .subMenu{
        position: absolute;
        background-color: #ece9e1;
        display: none;
        width: 13%;
    }
    .subMenu li a{
        display: grid;
        grid-template-rows: auto auto;
        padding: 12px;
        color: rgb(54, 54, 54);
        font-size: 12px;
        text-decoration: none;
    }
    .navBar li:hover .subMenu{
        display: block;
        padding: 33px;
    }
    .mainWrap{
        display: grid;
        height: 0;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    .tituloMain1{
        align-self: center;
        padding: 6px;
    }
    .tituloMain2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    .subrayado{
        width: 60px;
        height: 2px;
        margin: 0 auto;
        background-color: #c2a661;
    }

    .mainImage{
        margin: 15px;
        margin-left: 0%;
        width: 390px;
        height: 300px;
    }
    .descripcionWrap{
        margin-top: 0%;
        align-self: flex-end;
    }
    .descripcionTexto{
        text-align: center;
        padding-bottom: 0px;
        font-style: italic;
        font-size: 15px;
    }

    .footerHome{
        display: grid;  
        grid-template-columns: auto;
        padding-top: 25%;
        width: 100%;
        grid-area: footer;
    }
    .redesIconosProductos{
        padding: 0px;
        justify-content: center;
    }
    .redesIconosProductos a{
        background: #181815;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 58px;
        cursor: pointer;
        transition: 0.5s all;
    }     
    .copyright{
        text-align: center;
        margin: 1px;
        font-size: 8px;
    }
    /*productos*/
    .gridProductos{
        display: grid;
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 8% 35% 273% 63%;
        height: 100vh;
    }

    /*mainProductos*/
    .mainProductos{
        display: grid;
        grid-template-columns: 100%;
        grid-area: main;
        padding-top: 25px;
    }
    .tituloColeccion{
        text-align: center;
        font-family: roboto;
    }
    .productosGrid{
        display: grid;
        grid-template-columns: auto;
        padding-top: 20px;
        justify-content: space-around;
    }
    .productosGrid .caja img{
        width: 400px;
        height: 300px;
    }

    /*footerProductos*/
    .footerProductos{
        grid-area: footer;
        margin-top: 70%;
    }
    .redesIconosProductos{
        display: flex;
        padding: 25px;
        margin-top: 5px;
        justify-content: center;
        justify-content: space-around;
    }
    .redesIconosProductos a{
        background: #181815;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 58px;
        cursor: pointer;
        transition: 0.5s all;
    }
    .copyright{
        padding-top: 10px;
    }
}

@media screen and (max-width: 425px){
    .gridProductos{
        display: grid;
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 8% 35% 260% 76%;
        height: 100vh;
    }
    .mainImage{
        margin: 15px;
        margin-left: 0%;
        width: 425px;
        height: 310px;
    }
}

@media screen and (max-width: 768px){
    
    .grid{
        display: grid;
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 11% 20% 70% 50%;
        height: 100vh;
    }

    
    /*subMenu*/
    .subMenu{
        position: absolute;
        background-color: #ece9e1;
        display: none;
        width: 6%;
    }
    .subMenu li a{
        padding: 5px;
        font-size: 12px;
    }
    .navBar li:hover .subMenu{
        display: block;
        padding: 33px;
    }
    /*main*/
    main{
        grid-area: main;
        width: 100%;
        justify-content:center ;
        margin-top: 25px;
    }
    .mainWrap{
        display: grid;
        height: 0;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    .tituloMain1{
        align-self: center;
    }
    .tituloMain2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    .subrayado{
        width: 60px;
        height: 2px;
        margin: 0 auto;
        background-color: #c2a661;
    }

    .mainImage{
        margin: 15px;
        margin-left: 0%;
        width: 768px;
        height: 460px;
    }
    .descripcionTexto{
        text-align: center;
        padding-bottom: 0px;
        font-style: italic;
        font-size: 15px;
    }

    .footerHome{
        display: grid;  
        grid-template-columns: auto;
        padding-top: 25%;
        width: 100%;
        grid-area: footer;
    }
    .redesIconosProductos{
        padding: 0px;
        justify-content: center;
    }
    .redesIconosProductos a{
        background: #181815;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 58px;
        cursor: pointer;
        transition: 0.5s all;
    }     
    .copyright{
        text-align: center;
        margin: 1px;
        font-size: 8px;
    }  
    /*productos*/
    .gridProductos{
        display: grid;
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 13% 16% 445% 70%;
        height: 100vh;
    }
    
    /*mainProductos*/
    .mainProductos{
        display: grid;
        grid-template-columns: 100%;
        grid-area: main;
        padding-top: 25px;
    }
    .tituloColeccion{
        text-align: center;
        font-family: roboto;
    }
    .productosGrid{
        display: grid;
        grid-template-columns: auto;
        padding-top: 20px;
        justify-content: space-around;
    }
    .productosGrid .caja img{
        width: 750px;
        height: 500px;
    } 
    .copyright{
        text-align: center;
        margin: 20px;
        font-size: 8px;
    } 
}
